#navbar-title{
	color:chocolate;
}
a{
	color:darkcyan !important;
	font-weight:bold;
}
a:hover{
	color:#001b1b !important;	
}

.content{
	background-color:white !important;
	position:right !important;
}

.source{
	border: 2px solid black;
	background-color:#eda55f;
	border-radius:5px;
}
body{
	background-color:red;
}