#navbar-title{
	color:chocolate;
}
a{
	color:black !important;
	font-weight:bold;
	border-right:1px solid gray;
}
#home{
	border-left:1px solid gray;
}
a:hover{
	text-decoration:underline !important;	
}

.content{
	background-color:white !important;
	position:center !important;
}

.source{
	border: 2px solid black;
	background-color:#eda55f;
	border-radius:5px;
	padding:10px;
}
.section{
	background-color:#f4f4f4;
	border-bottom:1px solid black;
	padding:25px;
}
.section td{
	border:2px solid black;
	padding:5px 30px;
}
.section h2{
	padding-left:25px;
}
.caption{
	color:#777777;
	font-family:verdana;
}